
    <%- include("../partials/heards.ejs") %>
    
    <br> <h1 class="p-3 mb-2 bg-dark text-white">Relatorio de servidos</h1>

        <% if (servidos) { %>
        <table class="table table-dark table-striped" >
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Profissão</th>
          
        </tr>

        <% servidos.forEach(servido =>{ %>
            <tr>
        <td><%= servido.nome %></td>
        <td><%= servido.endereco %></td>
        <td><%= servido.email %></td>
        <td><%= servido.telefone %></td>
        <td><%= servido.profissao %></td>
            </tr>
        <% }) %>
        </table>

        <% } else {%>
            Não há dados para exibir.
        <% } %>

        <button type="button" onclick="window.print(); return false;" class="btn btn-info">Imprimir</button>

        <br><br><a href="/servidos">Voltar</a>
        <%- include("../partials/footer.ejs") %>