
    <%- include("../partials/heards.ejs") %>
    
    <br> <h1 class="p-3 mb-2 bg-dark text-white">Relatorio de Alunos</h1>

        <% if (alunos) { %>
        <table class="table table-dark table-striped" >
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Matricula</th>
          
        </tr>

        <% alunos.forEach(aluno =>{ %>
            <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.endereco %></td>
        <td><%= aluno.email %></td>
        <td><%= aluno.telefone %></td>
        <td><%= aluno.matricula %></td>
            </tr>
        <% }) %>
        </table>
        
        <button type="button" onclick="window.print(); return false;" class="btn btn-info">Imprimir</button>

        <% } else {%>
            Não há dados para exibir.
        <% } %>

        <br><br><a href="/alunos">Voltar</a>
        <%- include("../partials/footer.ejs") %>